/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/

.bg-dark{background-color: rgba(174,157,125,1);}
p{
	color:white;
}
/*
.navbar-brand{
	width:100px;
}*/

.topnav.topnav-top .site-name {width: 120px;}

.topnav .navbar-brand {background: url(../images/logo.png) no-repeat center;}

/*[class*="bg-"]:not(.bg-gray-light):not(.bg-white) h1,[class*="bg-"]:not(.bg-gray-light):not(.bg-white) h2,[class*="bg-"]:not(.bg-gray-light):not(.bg-white) h3,[class*="bg-"]:not(.bg-gray-light):not(.bg-white) h4,[class*="bg-"]:not(.bg-gray-light):not(.bg-white) h5,[class*="bg-"]:not(.bg-gray-light):not(.bg-white) h6{color:white;}*/

.topnav ul.nav > li > a{color:rgba(255,255,255,1);text-transform: uppercase;padding:0 20px;}
.topnav.topnav-top .site-name {
	height: 80px;width:350px;
	background-size: contain;
}
.topnav .site-name {height: 100px;width: 500px;}


.bg-dark:not(i), i.bg-dark::before, .bg-dark.form-control:focus {
    background-color: rgba(174,157,125,1);
    color: #fff;
}
